.title {
  margin: 20px;
}

.title-label {
  margin-left: 20px;
  margin-bottom: 20px;
}

.search-container {
  margin-left: 20px;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-collapse: collapse
}

.table-cell {
display: table-cell;
text-align: center;
vertical-align: middle;
word-wrap: break-word;
}